@model IEnumerable<BJM.DVDCentral.BL.Models.OrderItem>

@if (Model != null && Model.Any())
{
    <table id="orderItemsTable" class="table">
        <thead>
            <tr>
                <th>Movie ID</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => orderItem.MovieId)</td>
                    <td>@Html.DisplayFor(modelItem => orderItem.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => orderItem.Cost)</td>
                    <td>
                        <a asp-controller="Advisor" asp-action="Edit" asp-route-id="@orderItem.Id">Edit</a>
                        <a asp-controller="Advisor" asp-action="Details" asp-route-id="@orderItem.Id">Details</a>
                        <a asp-controller="Advisor" asp-action="Delete" asp-route-id="@orderItem.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#orderItemsTable').DataTable({
                "lengthMenu": [[5, 10, 25, 30, -1], [5, 10, 25, 30, "All"]]
            });
        });
    </script>
}
